:root {
  --cor-fundo: #000; /* Preto */
  --cor-texto: #fff; /* Branco */
  --cor-card: #222; /* Cinza escuro para os cards */
  --cor-card-hover: #333;
  --cor-card-texto: #ddd;
  --cor-link: #fff;
  --cor-link-hover: #bbb;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

a {
  color: var(--cor-link);
  text-decoration: none;
}

a:hover {
  color: var(--cor-link-hover);
}

.card {
  background-color: var(--cor-card);
  color: var(--cor-card-texto);
}

.card:hover {
  background-color: var(--cor-card-hover);
}

.card-infos {
  background: rgba(255, 255, 255, 0.1); /* Cinza translúcido */
}

/* Outros ajustes, como menus, banners, e botões */
.banner {
  background-color: #111;
  color: var(--cor-texto);
}

.banner-pesquisa, .banner-pesquisa-botão {
  background-color: #222;
  color: var(--cor-texto);
  border: 1px solid var(--cor-link);
}

.banner-pesquisa-botão:hover {
  background-color: var(--cor-card-hover);
}
html {
  scroll-behavior: smooth;
}
